{% comment %}  extend는 상속태그 {% endcomment %}
{% comment %} {% extends ".html" %} {% endcomment %}
{% comment %} load가 필요한 태그/상속은 안됨 {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %} 장고에서는 이미지 업로드방법 다름 {% endcomment %}
  <img src="{% static "articles/sample-1.png" %}" alt="#">
  <img src="{% static "sample-2.png" %}" alt="#">
  <h1>Articles</h1>
  <a href="{% url "articles:create" %}">CREATE</a>
  <hr>
  {% for article in articles %}
    <p>글 번호: {{ article.pk }}</p>
    <a href="{% url "articles:detail" article.pk %}">
      <p>글 제목: {{ article.title }}</p>
    </a>
    <p>글 내용: {{ article.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>
