{% extends "base.html" %}
{% block content %}
<h1>{{person.username}}의 프로필 페이지</h1>

<div>
    <p>팔로잉:{{person.followings.all|length}}: 팔로워:{{person.followers.all|length}}</p>
    
    {% if user != person %}
    <form action="{% url 'accounts:follow' person.pk %}" method='POST'>
        {% csrf_token %}
        {% if user in person.followers.all %}
        <input type="submit" value='unfollow'>
        {% else %}
        <input type="submit" value='follow'>
        {% endif %}
    </form>
    {% endif %}
</div>
<div>
    <p>회원번호: {{person.id}}</p>
    <p>유저이름: {{person.username}}</p>
    <p>가입날짜: {{person.created_at}}</p>
    <hr>
</div>

<div>
    <h2>유저가 쓴 글</h2>
    <br>
    {% for board in boards %}
    <div>
        <p>글번호: {{board.pk}}  </p>
        <p>글제목: <a href="{% url 'boards:detail' board.pk %}"> {{board.title}}</a></p>
        <br>
    </div>
    {% endfor %}
</div>

<hr>

<div>
    <h2>유저가 쓴 댓글</h2>
    {% if comments %}
    {% for comment in comments %}
    <p> {{comment.content}} </p>
    {% endfor %}
    {% else %}
    <p>아직 작성한 댓글이 없습니다</p>
    {% endif %}
    <hr>
</div>
    
<div>
    <h2>팔로워</h2>
    {% if followers %}
        {% for follower in followers %}
            <a href="{% url 'accounts:profile' follower.pk %}"> {{follower.username}}  </a>
        {% endfor %}
    {% else %}
        <p>팔로워 한 사람이 없습니다</p>
    {% endif %}
    <hr>
</div>

<div>
    <h2>좋아요를 누른 게시글</h2>
</div>
    
{% endblock content %}