<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- if else -->
    <p v-if="isSeen">true일때 보여요</p>
    <p v-else>false일때 보여요</p>
    <button @click="isSeen = !isSeen">토글</button>

    <!-- else if -->
    <div v-if="name === 'Alice'">Alice입니다</div>
    <div v-else-if="name==='Bella'">Bella입니다</div>
    <div v-else-if="name==='Cathy'">Cathy입니다</div>
    <div v-else>아무도 아닙니다.</div>

    <!-- v-if on <template> : vif 등을 템플릿 태그에 걸면 여러요소에 적용
      템플릿코드는 렌더링은 안됨, 묶어서 활용위해 html 이 제공하는 특수 태그
      보이지 않는 wrapper 역할 -->
    <template v-if="name==='Cathy'">
      <div>Cathy입니다</div>
      <div>나이는 30살입니다</div>
    </template>

    <!-- v-show는 일단 그리고 display:none (v-if 는 아예 안그림)  -->
    <div v-show="isShow">v-show</div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const isSeen = ref(true)
        const name = ref('Cathy')
        const isShow = ref(false)



        return {
          isSeen,
          name,
          isShow
        }
      }
    })
    // v-if 는 초기조건이 false 일때 아무작업도 수행안되서 쌈, 
    // 토글비용이 비쌈(지우고 다시 그리기때문) 
    // v-show 는 일단 렌더링하기때문에 초기 비용 비쌈
    // 자주 토글되는 데이터라면 쌈 (이미 그려져있기때문)
    
    //  -> 자주 전환시 v-show, 실행중에 조건 변경x시 v-if 적합 

    app.mount('#app')
  </script>
</body>

</html>
