<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- [Bad] v-for with v-if : v-for과  v-if 가 동시명령시 v-if 부터 실행-->
    <!-- <ul v-for="todo in todos" v-if="todo.isComplete === true"></ul> -->
 
    <ul v-for="todo in todos">
      <li v-if="todo.isComplete === false">
        {{todo.name}}
      </li>
    </ul>
<!-- if 없이 미리 computed로 계산 -->
    <!-- [Good 1] v-for with v-if (computed)-->
    <ul v-for="todo in completeTodos" :key="todo.id">
      <li>
        {{todo.name}}
      </li>
    </ul>

    <!-- [Good 2] v-for with v-if -->
    
    <ul>
      <template v-for="todo in todos" :key="todo.id">
        <li v-if="todo.isComplete ===false">
          {{todo.name}}
        </li>
      </template>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, computed } = Vue

    const app = createApp({
      setup() {
        let id = 0

        const todos = ref([
          { id: id++, name: '복습', isComplete: true },
          { id: id++, name: '예습', isComplete: false },
          { id: id++, name: '저녁식사', isComplete: true },
          { id: id++, name: '노래방', isComplete: false }
        ])

        const completeTodos = computed(() => {
          // todos 돌면서 return이 todo만 모아서 새로운 배열 뱉음 
          return todos.value.filter((todo) => !todo.isComplete)
        })

        return {
          todos,
          completeTodos
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
