<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 필터링/정렬 결과 표시하기 -->
    <!-- 1. computed 활용 -->
    <ul>
      <li v-for="number in evenNumbers">
        {{number}}
      </li>
    </ul>

    <hr>

    <!-- 2. method (computed가 불가능한 중첩된 v-for 경우) -->
    <ul v-for="numbers in numberSets">
      <li v-for="number in evenNumberSets(numbers)">
        {{number}}
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, computed } = Vue

    const app = createApp({
      setup() {
        const numbers = ref([1, 2, 3, 4, 5])
        const numberSets = ref([
          [1, 2, 3, 4, 5],
          [6, 7, 8, 9, 10]
        ])

        //짝수만 있는 새로운 배열 만들기 
        const evenNumbers = computed(() => {
          return numbers.value.filter((number) => number % 2 === 0)
        })
        // 배열 받아서 새로 짝수배열만들기: 메서드로 해야함 
        const evenNumberSets = function (numbers) {
          return numbers.filter((number) => number % 2 === 0)
        }

        return {
          numberSets,
          evenNumbers,
          evenNumberSets
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
